*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 1rem;
}
body{
    font-family: 'Nunito', sans-serif;
}
:root{
    --font-secundary: 'Roboto', sans-serif;
}
img{
    max-width: 100%;
    display: block;
}
ul, li, a{
    text-decoration: none;
    list-style: none;
}

#back-to-top{
    width: 40px;
    height: 40px;
    color: #122ab2;
    font-size: 3rem;
    cursor: pointer;
    position: fixed;
    border: none;
    background: transparent;
    right: 20px;
    bottom: 20px;

}
